<?xml version="1.0"?>
<model>
  <name>WAM-V</name>
  <version>1.0</version>
  <sdf version='1.7'>wamv.sdf</sdf>

  <author>
   <name>Aaron W</name>
   <email>email@emil.com</email>
  </author>

  <description>     
        Model of a catamaran adapted from osrf/vrx repository
  </description>
</model>
